.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.form-input label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input input {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.form-input input:focus {
  outline: none;
  border-color: #007bff;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.btn-submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-submit {
  padding: 10px;
  background-color: #423bc8;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
}

.btn-submit:hover {
  background-color: #3730a3;
}

.popUp-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popUp-container p {
  font-size: 25px;
  margin-bottom: 10px;
}

.popUp-container button {
  padding: 10px;
  background-color: #423bc8;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
}

.popUp-container button:hover {
  background-color: #3730a3;
}
