.container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
}

.search-bar input[type="text"] {
  margin: auto 0;
  border: none;
  outline: none;
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
}

.search-bar input[type="text"]::placeholder {
  color: #999;
}

.map-stops-container {
  width: 99%;
  min-height: 600px;
  height: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-self: center;
}

.stops {
  background-color: #423bc8;
  color: white;
  padding: 10px;
  overflow: auto;
  word-wrap: break-word;
}

.stops h1 {
  border-bottom: 1px solid white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.stop-list {
  list-style-type: decimal;
  padding: 0 0 0 20px;
}

.stop-list li {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.shop-info h2 {
  font-size: 1.2rem;
}

.shop-info p {
  margin: 5px 0 10px 0;
  font-size: 1rem;
}

.shop-info ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 100px;
  overflow-y: auto;
}

.shop-info li {
  display: inline-block;
  font-size: 0.9rem;
  padding: 5px 10px;
  background-color: lightgray;
  border-radius: 15px;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: red;
}

.map-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.map-buttons button {
  background-color: #423bc8;
  color: white;
}

.map-buttons button:hover {
  background-color: #3730a3;
}

.map-buttons button.disabled {
  background-color: #9CA3AF;
  cursor: not-allowed;
}

.leaflet-routing-container {
  display: none !important;
}

@media only screen and (max-width: 800px) {
  .shop-info h2 {
    font-size: 1rem;
  }

  .shop-info p {
    font-size: 0.9rem;
  }

  .shop-info ul {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .shop-info li {
    font-size: 0.9rem;
  }
}
